<section class="brands fullpage-section" id="third">
  <div class="section-topic">
    <p class="section-topic__number">03</p>
    <p class="section-topic__title">
      Our brands
    </p>
    <div class="section-topic__line"></div>
  </div>
  <div class="container container--pad">
    <div class="slider">
      <div class="brands__wrapper slider-wrapper">
        <div class="brands__card">
          <div class="brands__name">Red Castle</div>
          <div class="brands__logo-container">
            <img class="brands__logo" src="img/red-castle.png">
          </div>
          <div class="brands__description">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
            Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
          </div>
          <a href="http://www.redcastle.fr/index-en.html" target="_blank" class="outer-link">know more</a>
        </div>
        <div class="brands__card">
          <div class="brands__name">Beaba</div>
          <div class="brands__logo-container">
            <img class="brands__logo" src="img/beaba.png">
          </div>
          <div class="brands__description">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
            Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
          </div>
          <a href="https://www.beaba.com/en/" target="_blank" class="outer-link">know more</a>
        </div>
        <div class="brands__card">
          <div class="brands__name">Trousselier</div>
          <div class="brands__logo-container">
            <img class="brands__logo" src="img/trousselier.png">
          </div>
          <div class="brands__description">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
            Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
          </div>
          <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
        </div>
        <div class="brands__card hidden-brands">
          <div class="brands__name">Faber Castell</div>
          <div class="brands__logo-container">
            <img class="brands__logo" src="img/faber-castell.jpg">
          </div>
          <div class="brands__description">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
            Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
          </div>
          <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
        </div>
        <div class="brands__card hidden-brands">
        <div class="brands__name">Helen Harper</div>
        <div class="brands__logo-container">
          <img class="brands__logo" src="img/helen-harper.png">
        </div>
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
      </div>
      </div>
    </div>
    <a class="brands-toggle">More brands</a>
    <a class="brands-toggle-desktop slider-next">Next</a>
  </div>
  <a class="next-section-btn" href="#reviews">
    <div class="next-section-btn__container">
      <div class="btn-triangle"></div>
    </div>
    <span class="next-section-btn__description">Reviews</span>
  </a>
</section>