<section id="brands" class="brands">

  <div class="container">

    <div class="section-topic">
      <p class="section-topic__title">
        Our brands
      </p>
      <div class="section-topic__line"></div>
    </div>

    <div class="brands__wrapper">

      <div class="brands__card">
        <div class="brands__name">Red Castle</div>
        <img class="brands__logo" src="img/red-castle.png">
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="http://www.redcastle.fr/index-en.html" target="_blank" class="outer-link">know more</a>
      </div>
      <div class="brands__card">
        <div class="brands__name">Beaba</div>
        <img class="brands__logo" src="img/beaba.png">
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="https://www.beaba.com/en/" target="_blank" class="outer-link">know more</a>
      </div>
      <div class="brands__card">
        <div class="brands__name">Trousselier</div>
        <img class="brands__logo" src="img/trousselier.png">
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
      </div>
      <div class="brands__card hidden-element">
        <div class="brands__name">Faber Castell</div>
        <img class="brands__logo" src="img/faber-castell.jpg">
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
      </div>
      <div class="brands__card hidden-element">
        <div class="brands__name">Helen Harper</div>
        <img class="brands__logo" src="img/helen-harper.png">
        <div class="brands__description">
          Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
          Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
        </div>
        <a href="http://www.trousselier.fr/1en.aspx" target="_blank" class="outer-link">know more</a>
      </div>

      <a class="brands-toggle">More brands</a>

    </div>

</section>