<section id="contacts" class="contacts">

  <div class="container">

    <div class="section-topic">
      <p class="section-topic__title">
        Contacts
      </p>
      <div class="section-topic__line"></div>
    </div>

    <div class="contacts__content">
      <div class="contacts__phone contacts__block">
        <h3 class="contacts__title">Call us</h3>
        <a href="tel:+7916235-15-26" class="contacts__description">+ 7 916 235-15-26</a>
      </div>

      <div class="contacts__mail contacts__block">
        <h3 class="contacts__title">Write us</h3>
        <a href="mailto:info@abondance.ru" class="contacts__description">info@abondance.ru</a>
      </div>

      <div class="contacts__address contacts__block">
        <h3 class="contacts__title">Visit us</h3>
        <a class="contacts__description" target="_blank" href="https://goo.gl/maps/nuZgbpNvNwo">344002, Moscow, Krasnih Zor, 12/2</a>
      </div>
    </div>

    <a target="_blank" href="https://goo.gl/maps/nuZgbpNvNwo" class="contacts__address-link outer-link">
      show on map
    </a>
  </div>

</section>