<section class="contacts fullpage-section">

  <div class="container container--pad">

    <div class="section-topic">
      <p class="section-topic__number">05</p>
      <p class="section-topic__title">
        Contacts
      </p>
      <div class="section-topic__line"></div>
    </div>

    <div class="contacts__content">
      <div class="contacts__phone contacts__block">
        <h3 class="contacts__title">Call us</h3>
        <a href="tel:+7916235-15-26" class="contacts__description">+ 7 916 235-15-26</a>
      </div>

      <div class="contacts__mail contacts__block">
        <h3 class="contacts__title">Write us</h3>
        <a href="mailto:info@abondance.ru" class="contacts__description">info@abondance.ru</a>
      </div>

      <div class="contacts__address contacts__block">
        <h3 class="contacts__title">Visit us</h3>
        <a class="contacts__description contacts__address" target="_blank" href="https://goo.gl/maps/nuZgbpNvNwo">
          344002, Moscow,<br>Krasnih Zor, 12/2
          <div class="contacts__address-link outer-link">
            show on map
          </div>
        </a>

      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="footer__author">Design by J.J. Gittes</div>
    <div class="footer__copyright">2017 Abondance Distribution. All rights reserved</div>
  </footer>

</section>