<section class="features">
  <div class="container container--pad">

    <div class="section-topic">
      <p class="section-topic__number">02</p>
      <p class="section-topic__title">
        Our mission
      </p>
      <div class="section-topic__line alt"></div>
    </div>

    <div class="features__main">

      <div class="features__main-description feature-description-1">
        To exceed our customers' expectations with innovative and bespoke Assurance, Testing, Inspection and
        Certification services for their operations and supply chain. Globally. 24/7.
        <span class="next-feature-btn" id="next-description-2">/ Next</span>
      </div>

      <div class="features__main-description feature-description-2">
        Most likely you’re not going to be the only one to touch that codebase. There will be more experienced
        folks, juniors and people in between. Eventually, shitty developers will get their hands on your codebase.
        <div class="next-feature-btn" id="next-description-3">/ Next</div>
      </div>

      <div class="features__main-description feature-description-3">
        Whenever you’re writing CSS for a new component, stop for a minute and think about how to make it
        accessible. Then, using just your CSS, create tests for that.
        <div class="next-feature-btn" id="next-description-1">/ Next</div>
      </div>

      <div class="features__add-description features__add-description--1 feature-description-1">
        Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi,
        quis iaculis nulla iaculis vitae.
      </div>

      <div class="features__add-description features__add-description--2 feature-description-2">
        That’s a very basic example. You can get a lot more complex and test for ARIA roles, labels and whatever
        you feel is needed for that particular component to be accessible.
      </div>

      <div class="features__add-description features__add-description--3 feature-description-3">
        I fucking love BEM. I love BEMIT even more. It’s what I use to build all my front-ends and refactor my
        clients’ codebases.
      </div>

    </div>

    <a class="next-section-btn" href="#brands">
      <div class="next-section-btn__container">
        <div class="btn-triangle"></div>
      </div>
      <span class="next-section-btn__description">Our Brands</span>
    </a>

  </div>
</section>