<header class="header">
  <div class="header__content">
    <div class="header__main">
      <div class="header__logo"></div>
      <button type="button" class="header__toggle" id="header__toggle">Menu</button>
    </div>
    <nav class="header__nav" id="header__nav">
      <ul class="header__nav-list">
        <li class="header__element"><a class="active" href="#intro">Home</a></li>
        <li class="header__element"><a href="#features">Features</a></li>
        <li class="header__element"><a href="#why-us">Brands</a></li>
        <li class="header__element"><a href="#screenshots">Reviews</a></li>
        <li class="header__element"><a href="#pricing">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>