<header class="header">
  <div class="header__container">
    <div class="header__main">
      <a href="index.html" class="header__logo"></a>
      <button type="button" class="header__toggle" id="header__toggle">Menu</button>
    </div>

    <nav class="header__nav header__nav-mob">
      <ul class="header__nav-list">
        <li class="header__element"><a class="go_to" href="#first">Home</a></li>
        <li class="header__element"><a class="go_to" href="#second">Features</a></li>
        <li class="header__element"><a class="go_to" href="#third">Brands</a></li>
        <li class="header__element"><a class="go_to" href="#forth">Reviews</a></li>
        <li class="header__element"><a class="go_to" href="#fifth">Contacts</a></li>
      </ul>
    </nav>

    <nav class="header__nav header__nav-desc">
      <ul class="header__nav-list" id="menu">
        <li class="header__element"><a href="#intro">Home</a></li>
        <li class="header__element"><a href="#features">Features</a></li>
        <li class="header__element"><a href="#brands">Brands</a></li>
        <li class="header__element"><a href="#reviews">Reviews</a></li>
        <li class="header__element"><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>

  </div>
</header>