<section class="intro fullpage-section">
  <div class="container container--pad">

    <div class="section-topic">
      <p class="section-topic__number intro__topic-number">01</p>
      <p class="section-topic__title">
        Hello! We are
      </p>
      <div class="section-topic__line"></div>
    </div>

    <div class="intro__main">
      <img class="intro__logo" src="img/main-logo.svg" alt="main-logo">
      <div class="intro__description">
        the exclusive distributor of trade marks Red Castle, Beaba and Trousselier in Russia
      </div>
    </div>

    <a class="next-section-btn" href="#features">
      <div class="next-section-btn__container">
        <div class="btn-triangle"></div>
      </div>
      <span class="next-section-btn__description">Our Features</span>
    </a>

  </div>

  <div class="intro__bottom-border">
  </div>
  <div class="intro__bottom-border-two">
  </div>
</section>