.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;

  @include media($tablet-screen-min) {
    padding: 0 60px;
  }

  @include media($mobile-screen-sm-max) {

  }
}

%vertical-paddings {
  padding-top: 60px;
  padding-bottom: 50px;
}