.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  flex-direction: column;

  &--pad {
    padding-top: 60px;
    padding-bottom: 50px;

    @include media($desktop-screen-xs-min) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @include media($tablet-screen-min) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media($mobile-screen-sm-max) {

  }
}

%vertical-paddings {
  padding-top: 60px;
  padding-bottom: 50px;
}