.section-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__number {
    display: none;

    @include media($desktop-screen-xs-min) {
      display: inline-flex;
      color: #000;
      font-size: 20px;
      flex: 1;
    }
  }

  &__title {
    font-size: 13px;
    letter-spacing: 0.17px;

    @include media($desktop-screen-xs-min) {
      flex: 1.9;
    }
  }

  &__line {
    width: 78px;
    height: 2px;
    border: 1px solid $orange;

    &.alt {
      border-color: #fff;
    }
  }
}