.section-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 25px 50px;

  @include media($desktop-screen-xs-min) {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 60px;
    opacity: 0;
  }

  &__number {
    display: none;

    @include media($desktop-screen-xs-min) {
      display: inline-flex;
      color: #000;
      font-size: 20px;
      flex: 1;
    }
  }

  &__title {
    font-size: 13px;
    letter-spacing: 0.17px;

    @include media($desktop-screen-xs-min) {
      flex: 1.9;
    }
  }

  &__line {
    width: 78px;
    height: 2px;
    border: 1px solid $orange;
    background: $orange;

    &.alt {
      border-color: #fff;
      background: #fff;
    }
  }
}