.brands {
  @include media($desktop-screen-xs-min) {
    position: relative;
  }

  .container--pad {
    @include media($desktop-screen-xs-min) {
      margin-top: 70px;
      position: relative;
    }

    @include media($desktop-screen-lg-min) {
      margin-top: 90px;
    }
  }

  &__wrapper {
    //margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include media($desktop-screen-xs-min) {
      //max-width: 980px;
      //margin-top: 50px;
      flex-direction: row;
      opacity: 0;
      //justify-content: space-between;
      //position: relative;
    }
  }

  &__card {
    margin-bottom: 60px;

    @include media($desktop-screen-xs-min) {
      width: 270px;
      margin-right: 50px;
      margin-bottom: 0;
    }

    .outer-link {
      @include media($desktop-screen-xs-min) {
        opacity: 0;
        transition: 0.7s;
      }
    }

    &:hover .outer-link {
      @include media($desktop-screen-xs-min) {
        opacity: 1;
      }
    }

    &:hover .brands__description {
      @include media($desktop-screen-xs-min) {
        color: #000;
      }
    }
  }

  &__name {
    margin-bottom: 60px;
    font-size: 35px;
    letter-spacing: 0.1px;
    line-height: 48px;
  }

  &__logo-container {
    margin-bottom: 40px;
    height: 74px;
  }

  &__logo {
    max-height: 74px;
  }

  &__description {
    margin-bottom: 30px;
    letter-spacing: 0.17px;
    line-height: 20px;

    @include media($desktop-screen-xs-min) {
      color: $gray-dark;
      transition: 0.4s;
    }
  }

  &-toggle {
    color: $gray-light;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 25px;
    cursor: pointer;

    @include media($desktop-screen-xs-min) {
      display: none;
    }
  }

  &-toggle-desktop {
    display: none;

    @include media($desktop-screen-xs-min) {
      position: absolute;
      right: 60px;
      top: 20px;
      display: inline-flex;
      //margin-top: 16px;
      color: $gray-light;
      font-size: 18px;
      letter-spacing: 0.1px;
      line-height: 25px;
      cursor: pointer;
      opacity: 0;
    }
  }

  .next-section-btn {
    display: none;

    @include media($desktop-screen-xs-min) {
      display: flex;
      opacity: 0;
    }
  }

}

.hidden-brands {
  display: none;

  @include media($desktop-screen-xs-min) {
    display: block;
  }
}

.viewport {
  @include media($desktop-screen-xs-min) {
    overflow-x: hidden;
    position: relative;
    user-select: none;
    width: 910px;
  }
}

.slider-wrapper {
  @include media($desktop-screen-xs-min) {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}