.brands {

  @include media($desktop-screen-xs-min) {
    padding-top: 108px;
  }

  &__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include media($desktop-screen-xs-min) {
      margin-top: 40px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__card {
    margin-bottom: 60px;

    @include media($desktop-screen-xs-min) {
      max-width: 270px;
    }
  }

  &__name {
    margin-bottom: 40px;
    font-size: 35px;
    letter-spacing: 0.1px;
    line-height: 48px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
    letter-spacing: 0.17px;
    line-height: 20px;
  }

  &-toggle {
    color: $gray-light;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 25px;
    cursor: pointer;
  }

  .next-section-btn {
    display: none;

    @include media($desktop-screen-xs-min) {
      display: flex;
    }
  }

}

.hidden-element {
  display: none;
}

