.brands {

  .container {
    @extend %vertical-paddings;
  }

  &__card {
    margin-bottom: 60px;
  }

  &__name {
    margin-bottom: 40px;
    font-size: 35px;
    letter-spacing: 0.1px;
    line-height: 48px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
    letter-spacing: 0.17px;
    line-height: 20px;
  }

  &-toggle {
    color: $gray-light;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 25px;
    cursor: pointer;
  }

}

.hidden-element {
  display: none;
}