.features {
  background: $orange;

  .container {
    @extend %vertical-paddings;
  }

  &__main {
    margin-bottom: 20px;
  }

  &__main-description {
    line-height: 38px;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0.07px;
  }

  &__add-description {
    position: relative;
    margin-top: 40px;
    padding-left: 50px;
    letter-spacing: 0.17px;
    line-height: 20px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 8px;
    }

    &--1::before {
      background: url('../img/star.svg') no-repeat 50% 50%;
    }

    &--2::before {
      background: url('../img/cloud.svg') no-repeat 50% 50%;
    }

    &--3::before {
      background: url('../img/content.svg') no-repeat 50% 50%;
    }
  }

  .feature-description-2,
  .feature-description-3 {
    display: none;
  }
}