.features {
  background: $orange;
  position: relative;

  .container--pad {
    @include media($desktop-screen-xs-min) {
      margin-top: 110px;
      min-height: 550px;
    }
  }

  .section-topic__number{
    color: #fff;
  }

  &__main {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @include media($desktop-screen-xs-min) {
      margin-top: 55px;
      margin-bottom: 155px;
      flex-direction: row;
      justify-content: space-between;
      opacity: 0;
    }
  }

  &__main-description-block {
    position: relative;
    z-index: 10;
    background: $orange;

    .back-round {
      display: none;

      @include media($desktop-screen-xs-min) {
        display: block;
        position: absolute;
        height: 260px;
        width: 260px;
        border: 1px solid #fff;
        border-radius: 50%;
        z-index: -5;
        top: -100px;
        right: -80px;
      }
    }
  }

  &__main-description {
    line-height: 38px;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0.07px;

    @include media($desktop-screen-xs-min) {
      max-width: 661px;
      font-size: 35px;
      line-height: 48px;
      background-color: $orange;
    }
  }

  &__add-description {
    position: relative;
    margin-top: 40px;
    padding-left: 50px;
    letter-spacing: 0.17px;
    line-height: 20px;

    @include media($desktop-screen-xs-min) {
      max-width: 305px;
      margin-top: 146px;
      margin-right: 20px;
      padding-left: 10px;
      line-height: 1.33;
      letter-spacing: 0.2px;
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 8px;

      @include media($desktop-screen-xs-min) {
        left: 10px;
        top: -60px;
      }
    }

    &--1::before {
      background: url('../img/star.svg') no-repeat 50% 50%;
    }

    &--2::before {
      background: url('../img/cloud.svg') no-repeat 50% 50%;
    }

    &--3::before {
      background: url('../img/content.svg') no-repeat 50% 50%;
    }
  }

  .feature-description-2,
  .feature-description-3,
  .feature-description-add-2,
  .feature-description-add-3{
    display: none;
  }

  //солюшн, чтобы при переключении не скакала кнопка
  .container {
    position: relative;
  }

  .next-section-btn {
    display: none;

    @include media($desktop-screen-xs-min) {
      display: flex;
      position: absolute;
      top: 400px;
      opacity: 0;

      &:hover .next-section-btn__container {
        border-color: #fff;
      }
    }

    @include media($desktop-screen-lg-min) {
      top: 500px;
    }
  }

  .section-topic {
    @include media($desktop-screen-xs-min) {
      opacity: 0;
    }
  }
}

