.intro {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  @include media($desktop-screen-xs-min) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container--pad {
    @include media($desktop-screen-xs-min) {
      margin-bottom: 60px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 45px;

    @include media($iphone7) {
      //padding-right: 36px;
    }

    @include media($desktop-screen-xs-min) {
      flex-direction: row;
      margin-bottom: 91px;
    }
  }

  &__logo {
    padding-top: 10px;

    @include media($desktop-screen-xs-min) {
      margin-right: 120px;
      margin-left: -30px;
    }
  }

  &__description {
    margin-top: 40px;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.1px;

    @include media($iphone7) {
      padding-right: 36px;
    }

    @include media($desktop-screen-xs-min) {
      max-width: 617px;
      margin-top: 45px;
      font-size: 40px;
    }
  }

  &__topic-number {
    visibility: hidden;
  }

  &__bottom-border {
    z-index: -1;
    height: 160px;
    background: $light-orange;
    border-radius: 50% 50%;
    width: calc(100% + 280px);
    position: absolute;
    bottom: -100px;
    left: -140px;

    @include media($desktop-screen-xs-min) {
      bottom: -35px;
    }
  }

  &__bottom-border-two {

    position: absolute;
    height: 160px;
    background: $orange;
    border-radius: 50% 50%;
    width: calc(100% + 280px);
    bottom: -115px;
    left: -140px;

    @include media($desktop-screen-xs-min) {
      bottom: -50px;
    }
  }

}
